#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
}
.correct-width {
  min-width: 90%;
}
.txt_color {
  color: rgba(24, 101, 189, 0.61);
}
.btn {
  min-width: 100%;
}
